@import './_mixins.scss';
$transitionTime: 400ms;
$colorLight: rgba(248, 249, 250, 1);
$colorInfo: rgba(13, 202, 240, 1);
$colorPrimary: rgba(13,110,253, 1);

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__square {
    padding-bottom: 100%;
  }
}

.hover {
  &-border-light:hover {
    border-color: $colorLight;
  }

  &-bg-primary:hover {
    background-color: $colorPrimary;
  }
}

.transition {
  &-color {
    transition: color $transitionTime ease;
  }

  &-opacity {
    transition: opacity $transitionTime ease;
  }

  &-border {
    transition: border $transitionTime ease;
  }

  &-bg-image {
    transition: background-image $transitionTime ease;
  }

  &-bg-color {
    transition: background-color $transitionTime ease;
  }
}

.text-justify {
  text-align: justify;
}

.pointer {
  cursor: pointer;
}

.image-band-member {
  max-height: 400px;
  object-fit: cover;

  // float: left;
}

// .genre-card-image {
//   height: 230px;
//   object-fit: cover;

//   @include on575 {
//     height: 170px;
//   }

//   @include onMedium {
//     height: 200px;
//   }

//   @include onXl {
//     height: 200px;
//   }
// }